
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = "https://github.com/adityatelange/hugo-PaperMod.git"
[submodule "public"]
	path = public
	url = "https://github.com/shobhitsugumar/shobhitsugumar.github.io.git"

[submodule "hugo-My-Blog"]
    path = hugo-My-Blog
	url = "https://github.com/shobhitsugumar/hugo-My-Blog.git"


